/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Poppins&display=swap');

/* full site styles */
* {
    background-color: #ffde59;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* flexbox code taken from Stack Overflow - more details in the README */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header,
section,
footer {
    padding: 2rem 4rem;
}

/* fonts and colours */
h1,
h2 {
    font-family: 'Orelega One', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
}

.black span {
    font-size: 2.5rem;
    color: #FFFFFF;
    background-color: #000000;
    margin: 1px;
}

.black i {
    font-size: 2.2rem;
    color: #FFFFFF;
    background-color: #000000;
}

.white span {
    font-size: 2.5rem;
    color: #000000;
    background-color: #FFFFFF;
}

.white i {
    font-size: 2.2rem;
    color: #000000;
    background-color: #FFFFFF;
}

li {
    font-size: 2rem;
    list-style: none;
}

ol li {
    font-size: 1.5rem;
    text-align: left;
    background-color: #5e17eb;
    padding-left: 0.8rem !important;
}

ol {
    background-color: #5e17eb;
}

i {
    font-size: 4.2rem;
    color: #5e17eb;
}

.horizontal-section button {
    font-size: 2.5rem;
    font-weight: bold;
}

.horizontal-section th {
    font-size: 2.5rem;
    font-weight: bold;
}

.horizontal-section td {
    font-size: 2.5rem;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px #000000;
    width: 100vw;
    position: fixed;
    z-index: +2;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    padding-left: 4rem;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #5e17eb;
}

.nav-active {
    color: #5e17eb;
}

#hamburger-nav {
    display: none;
}

/* main page sections */
#main-page-container {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}

section h2 {
    margin: 2rem 0rem;
}

section li {
    margin: 1rem 0rem;
}

.horizontal-section {
    display: flex;
    justify-content: space-around;
    margin: 5rem 0rem;
}

.vertical-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0rem;
}

/* The following code was predominantly taken from YouTuber Web Dev Simplified and adapted to the needs of this site - see README for details */
/* play page */
.horizontal-h2 {
    text-align: center;
}

.horizontal-section button {
    border: solid 5px #5e17eb;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    margin: 2rem 4rem;
}

.horizontal-section button:hover {
    border: solid 5px #000000;
    color: #5e17eb;
    cursor: pointer;
}

#round {
    color: #000000;
    font-weight: bold;
}

.border {
    border: solid 5px #5e17eb;
    border-radius: 10px;
    padding: 10px;
    height: 140px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.horizontal-section th,
.horizontal-section td {
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
}

.horizontal-section th {
    text-decoration: underline;
}

#virtual-piano {
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
}

#virtual-piano-element {
    margin: 2rem 0rem 10rem;
}

.white {
    background-color: #FFFFFF;
    border: solid 1px #000000;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.white i {
    margin: 0rem 0.5rem 0.8rem;
}

.black {
    background-color: #000000;
    border: solid 1px #000000;
    width: 60%;
    height: 240px;
    margin-left: -40px;
    margin-right: -40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.black i {
    margin: 0.8rem 0.5rem 0rem;
}

.active {
    background-color: #5e17eb;
}

.active i {
    background-color: #5e17eb;
}

.active span {
    background-color: #5e17eb;
}

/* sheet music page */
.vertical-section audio {
    margin-bottom: 3rem;
}

.vertical-section iframe {
    margin-bottom: 5rem;
    width: 80%;
    height: 800px;
}

/* instructions page */
.horizontal-section ul {
    flex-direction: column;
    align-items: flex-start;
}

.horizontal-section li {
    padding-left: 2rem;
}

.horizontal-section i {
    font-size: 2rem;
    padding: 0.5rem;
}

.instruction-text {
    width: 150%;
    flex-direction: column;
    display: flex;
    margin-right: 150px;
}

.instruction-text a {
    font-size: 2rem;
}

.instruction-graphic {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: justify;
}

.instruction-graphic img {
    width: 60%;
    height: auto;
}

/* This code was taken from W3 Schools and adapted - see details in the README */
.popup {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2rem;
}

.popup:hover {
    color: #5e17eb;
}

.popup .popup-text {
    visibility: hidden;
    width: 600px;
    background-color: #5e17eb;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px 8px 40px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.popup .show {
    visibility: visible;
}

.decimal-list {
    list-style: decimal !important;
}

.roman-list {
    list-style: lower-roman;
}

/* footer */
footer {
    margin-top: auto;
    border-top: solid 3px #000000;
}

footer i {
    color: #000000;
    font-size: 2.3rem;
    padding: 0rem 0.2rem;
}

footer i:hover {
    color: #5e17eb;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* media queries */

/* 1440px and down (laptop L) */
@media only screen and (max-width: 1440px) {

    /* play page */
    .black {
        margin-left: -30px;
        margin-right: -30px;
    }

    .black span,
    .white span {
        font-size: 2rem;
    }

    .black i,
    .white i {
        font-size: 1.6rem;
    }
}

/* 1300px and down */
@media only screen and (max-width: 1300px) {

    /* footer */
    footer li {
        font-size: 1.6rem;
    }
}

/* 1150px and down */
@media only screen and (max-width: 1150px) {

    /* header */
    header {
        flex-direction: column;
    }

    .nav-list {
        padding: 2rem;
    }

    /* sections */
    #main-page-container {
        margin-top: 250px;
    }

    .vertical-section {
        margin: 0rem 0rem 2rem;
    }

    .horizontal-section {
        flex-direction: column;
        align-items: center;
        margin: 0rem 0rem 2rem;
    }

    section h2 {
        text-align: center;
    }

    /* play page */
    #virtual-piano-element {
        margin: 0rem 0rem 4rem;
    }

    /* instructions page */
    .instruction-graphic img {
        width: 30%;
    }

    .instruction-text {
        width: 100%;
        margin-right: 0px
    }

    /* footer */
    footer ul {
        flex-direction: column;
    }

    footer li {
        padding: 5px;
        font-size: 1.8rem;
        text-align: center;
    }
}

/* 1024px and down (laptop) */
@media only screen and (max-width: 1024px) {

    /* play page */
    .black {
        margin-left: -25px;
        margin-right: -25px;
    }

    .black span,
    .white span {
        font-size: 1.8rem;
    }

    .black i,
    .white i {
        font-size: 1.4rem;
    }
}

/* 1000px and down */
@media only screen and (max-width: 1000px) {

    /* play page */
    #key-c2,
    #key-db2,
    #key-d2,
    #key-eb2,
    #key-e2,
    #key-f2,
    #key-gb2,
    #key-g2,
    #key-ab2,
    #key-a2,
    #key-bb2,
    #key-b2 {
        display: none;
    }

    .black {
        margin-left: -30px;
        margin-right: -30px;
    }
}

/* 800px and down */
@media only screen and (max-width: 800px) {

    /* header */
    #site-nav,
    #nav-links {
        display: none;
    }

    #hamburger-nav {
        display: block;
    }

    #hamburger-icon {
        position: absolute;
        right: 40px;
        top: 33px;
    }

    header ul {
        flex-direction: column;
    }

    /* sections */
    #main-page-container {
        margin-top: 150px;
    }
}

/* 768px and down (tablet) */
@media only screen and (max-width: 768px) {

    /* play page */
    #virtual-piano i {
        display: none;
    }

    #virtual-piano span {
        display: none;
    }

    /* instructions page */
    .vertical-section iframe {
        height: 600px;
    }
}

/* 600px and down */
@media only screen and (max-width: 600px) {

    /* header */
    header {
        align-items: flex-start;
    }

    header ul {
        align-items: flex-start;
    }

    /* play page */
    .border {
        height: auto;
        width: 80vw;
    }

    .border table {
        margin: 0rem 2rem;
    }

    #key-f1,
    #key-gb1,
    #key-g1,
    #key-ab1,
    #key-a1,
    #key-bb1,
    #key-b1 {
        display: none;
    }

    .black {
        margin-left: -55px;
        margin-right: -55px;
    }
}

/* 525px and down */
@media only screen and (max-width: 525px) {

    /* play page */
    .border {
        flex-direction: column;
        align-items: center;
    }

    table,
    tbody,
    th,
    td {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

/* 425px and down (mobile L) */
@media only screen and (max-width: 425px) {

    /* header */
    h1 {
        font-size: 5rem;
    }

    header i {
        font-size: 3.6rem;
    }

    /* play page */
    .black {
        margin-left: -35px;
        margin-right: -35px;
    }

    /* instructions page */
    .vertical-section iframe {
        height: 400px;
    }

    .popup .popup-text {
        width: 100%;
    }
}

/* 375px and down (mobile M) */
@media only screen and (max-width: 375px) {

    /* header */
    h1 {
        font-size: 4rem;
    }

    header i {
        font-size: 2.6rem;
    }

    /* play page */
    .black {
        margin-left: -30px;
        margin-right: -30px;
    }
}

/* 320px and down (mobile S) */
@media only screen and (max-width: 320px) {

    /* play page */
    .black {
        margin-left: -25px;
        margin-right: -25px;
    }
}