/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Poppins:wght@300&display=swap');

/* site background colour */
* {
    background-color: #ffde59;
    font-size: 10px;
}

/* font families and sizes */
h1, h2 {
    font-family: 'Orelega One', sans-serif; 
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-family: 'Poppins', sans-serif; 
    font-size: 2rem;
}

/* links */
a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: #5e17eb;
}

.active {
    color: #5e17eb;
}